<Header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" onclick=@ToggleSidebar>
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" onclick=@ToggleSidebarLg>
        <span class="navbar-toggler-icon"></span>
    </button>
    <Login></Login>
    
</Header>

@functions {
    private bool isVisible { get; set; } = false;
    private bool isLGVisible { get; set; } = true;

    internal void ToggleSidebar()
    {
        isVisible = !isVisible;
        onSidebarToggle("",isVisible);
    }

    internal void ToggleSidebarLg()
    {
        isLGVisible = !isLGVisible;
        if (!isLGVisible & isVisible)
            isVisible = false;

        onSidebarToggle("lg", isLGVisible);
        onSidebarToggle("", isVisible);
    }

    [Parameter] Action<string,bool> onSidebarToggle { get; set; }
}