<ol class="breadcrumb">
    <li class="breadcrumb-item active">
        <span>控制面板</span>
        @*<a href="/">控制面板</a>*@
    </li>
    <!-- Breadcrumb Menu-->
    @*<li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>
                <a class="btn" href="./">
                    <i class="icon-graph"></i>  Dashboard
                </a>
                <a class="btn" href="#">
                    <i class="icon-settings"></i>  Settings
                </a>
            </div>
        </li>*@
</ol>

@functions {
    //[Parameter]
    //internal string RouteUrl { get; set; }

    //[Parameter]
    //internal string DefaultRoute { get; set; }

    //internal string[] Routes;

    //private char Delimeter = '/';

    //protected override void OnInit()
    //{
    //    if (string.IsNullOrEmpty(RouteUrl))
    //        RouteUrl = DefaultRoute;

    //    Routes = RouteUrl.TrimStart(Delimeter).TrimEnd(Delimeter).Split(Delimeter);

    //    base.OnInit();
    //}
}