<ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown @styleOpen">
        <a class="nav-link nav-link" role="button" href="#" onclick=@ToggleLogin>
            <img class="img-avatar" alt="admin@bootstrapmaster.com" src="img/avatars/6.jpg">
        </a>
        <div class="dropdown-menu dropdown-menu-right @styleOpen">
            <div class="dropdown-header text-center">
                <strong>设置</strong>
            </div>
            <a class="dropdown-item" href="#">
                <i class="fa fa-user"></i> 用户信息
            </a>
            <a class="dropdown-item" href="#">
                <i class="fa fa-lock"></i> 退出系统
            </a>
        </div>
</li>
</ul>
@functions {
internal string styleOpen = "";

internal void ToggleLogin()
{
    styleOpen = string.IsNullOrEmpty(styleOpen) ? "show" : "";
}

}
